@page "{catchmentId=17002}"
@model FEHWeb.Pages.CatchmentDetailsModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<div class="row">
    <h1 class="display-2">Details for catchment @Model.Catchment.Catchment</h1>
</div>
<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Catchment.StName</h5>
            <p class="card-text">@Model.Catchment.CatchmentComments</p>
            <h6>Station Comments</h6>
            <p class="card-text">@Model.Catchment.StationComments</p>
            <h6>QMED Comments</h6>
            <p class="card-text">@Model.Catchment.QmedComments</p>
            <h6>Pooling Comments</h6>
            <p class="card-text">@Model.Catchment.PoolingComments</p>
            <h6>Catchment centroid Easting</h6>
            <p class="card-text">@Model.Catchment.CentroidNgre</p>
            <h6>Catchment centroid Northing</h6>
            <p class="card-text">@Model.Catchment.CentroidNgrn</p>
            <h6>Nominal easting</h6>
            <p class="card-text">@Model.Catchment.NomNgre</p>
            <h6>Nominal northing</h6>
            <p class="card-text">@Model.Catchment.NomNgrn</p>
            
        </div>
    </div>
</div>
<div id="map" style='position:relative;height:400px;'>
</div>
<div id="chart"></div>
@section Scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var json = @Html.Raw(Model.jsonAmax);
            var data = new google.visualization.DataTable(json);
            console.log(json);
            var options = {
                title: "Annual maxima (amax) flow rates (cumecs)"
                ,legend: { position: "none" }
                ,width: '100%'
                ,height: 600
                ,hAxis: {
                    slantedTextAngle: 90
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
            chart.draw(data, options);

        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    <script type="text/javascript">
        function GetMap() {
                var map = new Microsoft.Maps.Map('#map', {
                credentials: '@Configuration["BingMapsKey"]',
                center: new Microsoft.Maps.Location(@Model.CatchmentLat, @Model.CatchmentLon),
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                zoom: 15
                });

        var pin = new Microsoft.Maps.Pushpin(map.getCenter(), {
        });

        map.entities.push(pin);
        }
    </script>
}